.help_alert {
    height: 100px;
    width: 100px;
    background-color: red;
}

.logfiles { 
 	width: 30px;
	position: fixed;
	margin: 0px;
	left: 15px;
	top:285px;
}

#help {
	
	font-family: bold "Arial", sans-serif;
	font-size: 15pt;
	color: #0B0B61;
	cursor: pointer;
	padding-top: 5px;
}
#help:hover{
	color: #848484;
}

#helpOverlay{
    opacity:0.8;
    background-color:#C1C5C7;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1;
    display: none;
}

#helpBox{
    position: fixed;
    top:25%;
    width: 30%;
    min-height: 60px;
    left: 35%;
    right: 35%;
    display: none;
    z-index: 2;
    background-color: #ffffff;
    text-align:center;
    font-family: "Century Gothic", "Arial", sans-serif;
    font-size: 11pt;
    border-radius: 10px;
    padding: 10px;


}

#helpField{
    color: gray;
    height:50px;
    width: 100%;
    font-size: 36px;
    margin-right: auto;
    margin-left: auto;
    border: 0px;
    outline: none;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 50px;

}


html, body {
 	margin:0px;
 	padding:0px;
}


.alert-feed {
	background-color: #e6e6e6;
	position: fixed;
	overflow: auto;
	bottom: 0px;
	top:330px;
	width: 320px;
	height: calc(100% - 330px);
	border: 0px;
	margin: 0px;
	padding: 0px;
	overflow-y: scroll;
	overflow-x: hidden;
	
}

.query-builder {
	background-color: #e6e6e6;
	position: fixed;
	top:100px;
	width: 320px;
	height: 225px;
	border: 0px;
	margin: 0 auto;
	padding: 0px;
	text-align: center;	
}

.query-builder-help {
	background-color: #e6e6e6;
	position: fixed;
	top:100px;
	width: 30px;
	height: 30px;
	border: 0px;
	margin: 0 auto;
	padding: 0px;
	text-align: center;	
}



.query-builder-footer {
	background-color: #0B0B61;
	position: fixed;
	top:325px;
	width: 320px;
	height: 5px;
	margin: 0 auto;
	padding: 0px;	
}

.inputstyle {
	font-family: "Century Gothic", "Arial", sans-serif;	
	font-size: 10pt;
	box-shadow: white;
	margin-bottom: 10px;
	border-radius: 5px;
	padding: 5px;
	border-color: #bdbdbd;
	border-style: solid;
	border-width: 1px;
}

.submitbutton {
	padding: 5px;
	font-family: "Century Gothic", "Arial", sans-serif;
	font-size: 10pt;
	background: #0B0B61;
	border-radius: 5px;
	color: #ffffff;
	border-color: #0B0B61;
	border-style: solid;
	border-width: 1px;
	box-shadow: white;
	cursor: pointer;
}
.submitbutton:hover{
	color: #e6e6e6;
}



table#alerts td {
	font-family: 'Century Gothic', sans-serif;
	border-bottom: 1px solid #a4a4a4;
	border-collapse: collapse;
	padding: 5px;
	padding-left: 10px;
}



.remove {
	background-color: transparent;
	border: 0px;
	font-family: Garamond, "Apple Garamond";
}

.remove:hover {
	color: #848484;
	cursor: pointer;
}




.query-form {
	left: 320px;
	top: 100px;
	width: calc(100% - 320px);
	height: calc(100% - 100px);
	background-color: #ffffff;
	position: fixed;
	text-align: center;
	margin: 0 auto;
	overflow: auto;
	overflow-y: scroll;
	overflow-x: scroll;
}






.header {
	background-color: #0B0B61;
	overflow: auto;
	width: 100%;
	height: 100px;
	border: 0px;
	position: fixed;
	margin: 0px;
	top:0;
	z-index: 1;
	
}

.header-writing {
	
	height: 50px;
	border: 0px;
	position: fixed;
	margin: 0px;
	left: 120px;
	color: #ffffff;
	vertical-align: centre;
	font-family: 'Century Gothic', sans-serif;
	font-size: 30pt;
	top: 25px;
	overflow: hidden;
}

.DB-logo { 
	
 	width: 60px;
	position: fixed;
	display: block;
	margin: 0px;
	padding: 20px;
	padding-left: 30px;
	
	}


table#comms {
	font-family: 'Century Gothic', sans-serif;
	border-collapse: collapse;
	white-space:normal;
	font-size: 12px;
	display:table;
	word-break:break-all;
	border-bottom: 1px solid #a4a4a4;
	text-align: left;
	min-width: 1000px;
}

table#comms th {
	font-family: 'Century Gothic', sans-serif;
	border-collapse: collapse;
	padding: 5px;
	padding-left: 10px;
}


table#comms td {
	font-family: 'Century Gothic', sans-serif;
	border-top: 1px solid #a4a4a4;
	border-collapse: collapse;
	padding: 5px;
	padding-left: 10px;
}

table#comms tr:hover {
	background-color: #e6e6e6;
}

	
h2 {
 	font-family: 'Century Gothic', sans-serif;
 	font-size: 12px;
}

h3 { 
 	font-family: 'Century Gothic', sans-serif;
 	font-size: 12pt;
}

h4 { 
 	font-family: 'Century Gothic', sans-serif;
 	font-size: 16pt;
	text-align: center;
}
